/****************************************Media Queries Start*/

/****************************************Laptop 1024px*/
@media (max-width: 1024px) {
    #head-fname {
        margin-top: 30px;
        font-size: 70px;
        margin-left: 10px;
        margin-bottom: 35px;
    }

    #head-title {
        font-size: 40px;
        margin-left: 10px;
        margin-bottom: 35px;
    }

    #head-status {
        font-size: 20px;
        margin-left: 10px;
        margin-bottom: 35px;
    }

    #head-cv {
        font-size: 18px;
        margin-left: 10px;
        margin-bottom: 35px;
    }

    .nav_bar_con h3 {
        font-size: 15px;
    }

    .main-con-head {
        border: 10px solid white;
    }

    .resume-leftside-content h3 {
        font-size: 20px;
    }

    .workhistory-item {
        font-size: 12px;
        padding-left: 75px;
    }

    .education-item {
        font-size: 12px;
        padding-right: 25px;
    }

    .about-me h5 {
        font-size: 18px;
    }

    .hobbies_interests h4 {
        font-size: 18px;
    }

    #email_footer_head,
    #email_address_head,
    #project_footer_head,
    #social_footer_head,
    #dlcv_footer_head {
        font-size: 18px;
    }

    #social_icons,
    #dl_icon {
        font-size: 25px;
    }

    .social_links,
    .download_cv_link {
        padding-top: 25px;
    }

}

/****************************************Smaller Laptop 991px*/
@media (max-width: 991px) {

    .headings {
        text-align: center;
    }

    #head-fname {
        border-left: none;
        margin-left: 0;
        font-size: 60px
    }

    #head-title {
        border-left: none;
        margin-left: 0;
        font-size: 35px
    }

    #head-status {
        border-left: none;
        margin-left: 0;
        font-size: 25px
    }

    #head-cv {
        border-left: none;
        margin-left: 0;
        font-size: 17px
    }

    .empty-nav-space {
        display: none;
    }

    .home-link {
        border-left: none;
    }

    .contact-link {
        border-right: none;
    }

    .resume-leftside-content h3 {
        font-size: 20px;
    }

    .resume-rightside-content h3 {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .about-me h5 {
        font-size: 16px;
    }

    .workhistory-item:before,
    .education-item:before {
        position: initial;
    }

    .workhistory-item:after {
        left: 103px;
    }

    .education-item:after {
        right: 58px;
    }

    .workhistory-item {
        margin-left: -130px;
    }

    .education-item {
        margin-right: -85px;
    }

    .workhistory-item,
    .education-item {
        font-size: 15px;
        font-weight: 900;
    }

    .w10 h5,
    .off365 h5,
    .mac h5 {
        font-size: 18px;
    }

    .hobbies_interests h4 {
        font-size: 16px;
    }
}

/****************************************Tablet 768px*/
@media (max-width: 768px) {

    #head-fname {
        margin-top: 20px;
        font-size: 60px;
        margin-left: 0px;
        padding-left: 0px;
        margin-bottom: 35px;
        border-left: none;
        text-align: center;
    }

    #head-title {
        font-size: 35px;
        margin-left: 0px;
        padding-left: 0px;
        margin-bottom: 35px;
        border-left: none;
        text-align: center;
    }

    #head-status {
        font-size: 25px;
        margin-left: 0px;
        padding-left: 0px;
        margin-bottom: 35px;
        border-left: none;
        text-align: center;
    }

    #head-cv {
        font-size: 15px;
        margin-left: 0px;
        padding-left: 0px;
        margin-bottom: 35px;
        border-left: none;
        text-align: center;
    }

    .empty-nav-space {
        display: none;
    }

    .home-link {
        border-left: none;
    }

    .contact-link {
        border-right: none;
    }

    .nav_bar_con h3 {
        font-size: 15px;
    }

    .top-row,
    .bottom-row {
        margin-left: 0;
    }

    .main-con-head {
        border: 5px solid white;
    }

    .resume-leftside-content h3 {
        font-size: 20px;
    }

    .resume-rightside-content h3 {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .workhistory-item:before,
    .education-item:before {
        position: initial;
    }

    .workhistory-item,
    .education-item {
        margin: 0;
    }

    .workhistory-item:after {
        left: -27px;
    }

    .education-item:after {
        right: -27px;
    }

    #email_footer_head,
    #email_address_head,
    #project_footer_head,
    #social_footer_head,
    #dlcv_footer_head {
        font-size: 16px;
    }

    #social_icons,
    #dl_icon {
        font-size: 25px;
    }

    .social_links,
    .download_cv_link {
        padding-top: 25px;
    }

}

/****************************************Smartphone 425px*/
@media (max-width: 425px) {

    .main_headings_con {
        border-left: none;
    }

    .home-link,
    .resume-link,
    .project-link,
    .contact-link {
        border-left: none;
    }

    .contact-link {
        border-right: none;
    }

    #head-fname {
        margin-top: 20px;
        font-size: 40px;
        margin-left: 0px;
        padding-left: 0px;
        margin-bottom: 35px;
        border-left: none;
        text-align: center;

    }

    #head-title {
        font-size: 25px;
        margin-left: 0px;
        padding-left: 0px;
        margin-bottom: 35px;
        border-left: none;
        text-align: center;
    }

    #head-status {
        font-size: 22px;
        margin-left: 0px;
        padding-left: 0px;
        margin-bottom: 35px;
        border-left: none;
        text-align: center;
    }

    #head-cv {
        font-size: 15px;
        margin-left: 0px;
        padding-left: 0px;
        border-left: none;
        text-align: center;
    }

    .empty-nav-space {
        display: none;
    }

    .nav_bar_con h3 {
        font-size: 18px;
    }

    .empty-nav-space,
    .home-link,
    .resume-link,
    .project-link,
    .contact-link {
        border-bottom: 2px solid #fff;
    }

    .top-row,
    .bottom-row {
        margin-left: 0;
    }

    .main-con-head {
        border: 5px solid white;
    }

    .empty-content-space,
    .empty-col-history,
    .resume-leftside-content {
        display: none;
    }

    .resume-rightside-content {
        overflow: auto;
        height: 100vh;
    }

    .resume-rightside-content h3 {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .workhistory-item:before,
    .education-item:before {
        position: initial;
    }

    .workhistory-item {
        margin-left: -75px;
    }

    .education-item {
        margin-right: -25px;
    }

    .workhistory-item:after {
        left: 48px;
    }

    .education-item:after {
        right: -2px;
    }

    .html5-progress,
    .css3-progress,
    .javascript-progress,
    .php-progress,
    .sql-progress {
        font-size: 15px;
    }

    #social_icons,
    #dl_icon {
        font-size: 25px;
    }

    .email_project_link,
    .social_links,
    .download_cv_link {
        padding-top: 10px;
    }

    .back-to-top {
        display: initial;
    }
}

/****************************************Media Quries End*/
