@import url('https://fonts.googleapis.com/css?family=Exo+2:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700|Montserrat:100,200,300,400,500,600,700');

body {
    font-family: "Exo 2", sans-serif;
}

/****************************************Header Section Start*/
/*darkgrey color code #a9a9a9*/

.profile_pic {
    background-image: url("../images/profile_pic.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 300px;
    filter: grayscale(35%);
    background-color: #a9a9a9;
}

.main_heading_color {
    background-color: #a9a9a9;
    min-height: 300px;
}

.headings {
    border-left: 2px solid #ffffff;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 5px;
    padding: 0;
}

#head-fname {
    margin-top: 50px;
    font-size: 80px;
    font-weight: 600;
    text-decoration-line: underline;
    text-shadow: -1px -1px 25px #ffffff;
    color: #000000;
    margin-left: 40px;
    margin-bottom: 30px;
    border-left: 10px solid #000000;
    padding-left: 10px;
}

#head-title {
    font-size: 45px;
    font-weight: 600;
    text-decoration-line: underline;
    text-shadow: -1px -1px 25px #ffffff;
    color: #000000;
    margin-left: 40px;
    margin-bottom: 30px;
    border-left: 10px solid #000000;
    padding-left: 10px;
}

#head-status {
    font-size: 22.5px;
    font-weight: 600;
    text-decoration-line: underline;
    text-shadow: -1px -1px 25px #ffffff;
    color: #000000;
    margin-left: 40px;
    margin-bottom: 30px;
    border-left: 10px solid #000000;
    padding-left: 10px;
}

#head-cv {
    font-size: 18px;
    font-weight: 600;
    text-decoration-line: underline;
    text-shadow: -1px -1px 25px #ffffff;
    color: #000000;
    margin-left: 40px;
    border-left: 10px solid #000000;
    padding-left: 10px;
    margin-bottom: 50px
}

#head-cv:hover {
    color: #ffffff;
    border-left-color: #ffffff;
    text-shadow: -1px -1px 25px #000000;
}

/****************************************Header Section End*/

/****************************************Navigation Section Start*/
.nav_bar_con h3 {
    margin: 0;
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 4px;
    text-align: center;
}

.empty-nav-space,
.home-link,
.resume-link,
.project-link,
.contact-link {
    border-left: 2px solid #fff;
    background-color: lightgray;
    padding: 10px 0px;
    text-align: center;
    white-space: ;
}

.nav_bar_con a {
    color: #000000;
    text-decoration: none;
}

.nav_bar_con a:hover {
    color: #ffffff;
}

.current_page {
    border-bottom: 2px solid black;
}

/****************************************Sweep To Right Hover Section Start*/
.hvr-sweep-to-right:before {
    background: rgba(0, 0, 0, .5);
}

/****************************************Sweep To Right Hover Section
/****************************************Navigation Section End*/

/****************************************Main Content Section End*/

.main_content {
    text-align: center;
    background-color: whitesmoke;
}

/****************************************Main Content Section End*/

/****************************************Footer Section Start*/

.footer-container {
    background-color: darkgrey;
    text-align: center;
}

.email_project_link,
.social_links,
.download_cv_link {

    padding: 10px 0px;
}

.foot-email,
.foot-projects,
.foot-fb,
.foot-twitter,
.foot-linkedin,
.foot-github,
.foot-cv-dl {
    color: #000000;
}

.back-to-top {
    color: #000000;
    display: none;
}

.foot-email:hover,
.foot-projects:hover,
.foot-fb:hover,
.foot-twitter:hover,
.foot-linkedin:hover,
.foot-github:hover,
.foot-cv-dl:hover,
.back-to-top:hover {
    color: #ffffff;
    text-shadow: -1px -1px 25px #000000;
}



/****************************************Footer Section End*/

/****************************************Media Queries Start*/
/****************************************Laptop*/
@media (max-width: 1024px) {
    #head-fname {
        margin-top: 60px;
        font-size: 70px;
        margin-left: 10px;
        margin-bottom: 35px;
    }

    #head-title {
        font-size: 40px;
        margin-left: 10px;
        margin-bottom: 35px;
    }

    #head-status {
        font-size: 20px;
        margin-left: 10px;
        margin-bottom: 35px;
    }

    #head-cv {
        font-size: 18px;
        margin-left: 10px;
        margin-bottom: 35px;
    }

    .nav_bar_con h3 {
        font-size: 15px;
    }

    #email_footer_head,
    #email_address_head,
    #project_footer_head,
    #social_footer_head,
    #dlcv_footer_head {
        font-size: 18px;
    }

    #social_icons,
    #dl_icon {
        font-size: 25px;
    }

    .social_links,
    .download_cv_link {
        padding-top: 25px;
    }

}

/****************************************Smaller Laptop*/
@media (max-width: 991px) {

    #head-fname {
        font-size: 55px
    }

    #head-title {
        font-size: 30px
    }

    #head-status {
        font-size: 16px
    }

    #head-cv {
        font-size: 15px
    }

    .empty-nav-space {
        display: none;
    }
}

/****************************************Tablet*/
@media (max-width: 768px) {

    #head-fname {
        margin-top: 30px;
        font-size: 60px;
        margin-left: 0px;
        padding-left: 0px;
        margin-bottom: 35px;
        border-left: none;
        text-align: center;
    }

    #head-title {
        font-size: 35px;
        margin-left: 0px;
        padding-left: 0px;
        margin-bottom: 35px;
        border-left: none;
        text-align: center;
    }

    #head-status {
        font-size: 25px;
        margin-left: 0px;
        padding-left: 0px;
        margin-bottom: 35px;
        border-left: none;
        text-align: center;
    }

    #head-cv {
        font-size: 15px;
        margin-left: 0px;
        padding-left: 0px;
        margin-bottom: 35px;
        border-left: none;
        text-align: center;
    }

    .empty-nav-space {
        display: none;
    }

    .nav_bar_con h3 {
        font-size: 15px;
    }

    #email_footer_head,
    #email_address_head,
    #project_footer_head,
    #social_footer_head,
    #dlcv_footer_head {
        font-size: 16px;
    }

    #social_icons,
    #dl_icon {
        font-size: 25px;
    }

    .social_links,
    .download_cv_link {
        padding-top: 25px;
    }

}

/****************************************Smartphone*/
@media (max-width: 425px) {
    #head-fname {
        margin-top: 20px;
        font-size: 40px;
        margin-left: 0px;
        padding-left: 0px;
        margin-bottom: 35px;
        border-left: none;
        text-align: center;

    }

    #head-title {
        font-size: 25px;
        margin-left: 0px;
        padding-left: 0px;
        margin-bottom: 35px;
        border-left: none;
        text-align: center;
    }

    #head-status {
        font-size: 22px;
        margin-left: 0px;
        padding-left: 0px;
        margin-bottom: 35px;
        border-left: none;
        text-align: center;
    }

    #head-cv {
        font-size: 15px;
        margin-left: 0px;
        padding-left: 0px;
        border-left: none;
        text-align: center;
    }

    .empty-nav-space {
        display: none;
    }

    .nav_bar_con h3 {
        font-size: 18px;
    }

    .empty-nav-space,
    .home-link,
    .resume-link,
    .project-link,
    .contact-link {
        border-bottom: 2px solid #fff;
    }

    #social_icons,
    #dl_icon {
        font-size: 25px;
    }

    .email_project_link,
    .social_links,
    .download_cv_link {
        padding-top: 10px;
        border-bottom: 2px solid #fff;
    }

    .back-to-top {
        display: initial;
    }
}

/****************************************Media Quries End*/
