@import url('https://fonts.googleapis.com/css?family=Exo+2:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700|Montserrat:100,200,300,400,500,600,700');

body {
    font-family: "Exo 2", sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
}

.row {
    margin-right: 0px;
    margin-left: 0px;
}

/****************************************Header Section Start*/
/*darkgrey color code #a9a9a9*/

.profile_pic {
    background-color: #888888;
    width: 100%;
    height: 100%;
    filter: grayscale(50%);
    padding: 0px;
    object-fit: cover;
}

.profile_link {
    padding: 0;
}

.main_headings_con {
    background-color: #888888;
    border-left: 2px solid #ffffff;
    padding: 0px
}

.main_headings {
    height: 100%;
}

.headings {
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 5px;
    padding: 0;
}

#head-fname {
    margin-top: 50px;
    font-size: 80px;
    font-weight: 600;
    text-decoration-line: underline;
    text-shadow: -1px -1px 25px #ffffff;
    color: #000000;
    margin-left: 20px;
    margin-bottom: 40px;
    border-left: 10px solid #000000;
    padding-left: 10px;
}

#head-title {
    font-size: 45px;
    font-weight: 600;
    text-decoration-line: underline;
    text-shadow: -1px -1px 25px #ffffff;
    color: #000000;
    margin-left: 20px;
    margin-bottom: 40px;
    border-left: 10px solid #000000;
    padding-left: 10px;
}

#head-status {
    font-size: 22.5px;
    font-weight: 600;
    text-decoration-line: underline;
    text-shadow: -1px -1px 25px #ffffff;
    color: #000000;
    margin-left: 20px;
    margin-bottom: 40px;
    border-left: 10px solid #000000;
    padding-left: 10px;
}

#head-cv {
    font-size: 18px;
    font-weight: 600;
    text-decoration-line: underline;
    text-shadow: -1px -1px 25px #ffffff;
    color: #000000;
    margin-left: 20px;
    border-left: 10px solid #000000;
    padding-left: 10px;
    margin-bottom: 50px
}

#head-cv:hover {
    color: #ffffff;
    border-left-color: #ffffff;
    text-shadow: -1px -1px 25px #000000;
}

/****************************************Header Section End*/

/****************************************Navigation Section Start*/

.nav_bar_con h3 {
    margin: 0;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 4px;
    text-align: center;
}

.empty-nav-space {
    background-color: lightgray;
}

.home-link,
.resume-link,
.project-link,
.contact-link {
    border-left: 2px solid #ffffff;
    background-color: lightgray;
    padding: 10px 0px;
    text-align: center;
}

.contact-link {
    border-right: 2px solid #ffffff;
    background-color: lightgray;
    padding: 10px 0px;
    text-align: center;
}

.nav_bar_con a {
    color: #000000;
    text-decoration: none;
}

.nav_bar_con a:hover {
    color: #ffffff;
}

.current_page {
    border-bottom: 2px solid black;
}

/****************************************Sweep To Right Hover Section Start*/
.hvr-sweep-to-right:before {
    background: rgba(0, 0, 0, .5);
}

/****************************************Sweep To Right Hover Section
/****************************************Navigation Section End*/

/****************************************Main Content Section End*/
/****************************************index.html Start*/
.top-row,
.bottom-row {
    padding: 0;
    margin: 0;
}

.top-row h3,
.bottom-row h3 {
    text-transform: uppercase;
    letter-spacing: 4px;
    text-align: center;
    font-weight: 700;
}

.top-row h5,
.bottom-row h5 {
    letter-spacing: 1px;
    text-align: center;
}

.main-con-head {
    width: 100%;
    padding: 15px;
    border: 20px solid white;
    background-color: #e8e8e8;
}

.main-con-head h5 {
    padding-bottom: 10px;
}

.main-con-head a {
    text-decoration: none;
}

.readmore-btn {
    display: block;
    margin: 0 auto;
    text-transform: uppercase;
    background-color: lightgray;
    color: black;
    letter-spacing: 3px;
    font-weight: 900;
}

.readmore-btn:hover {
    background-color: #a9a9a9;
}

/****************************************index.html End*/

/****************************************resume.html Start*/
.resume-leftside-content {
    background-color: #e8e8e8;
    text-align: center;
    letter-spacing: 2px;

}

.resume-leftside-content h3 {
    font-size: 25px;
    text-transform: uppercase;
    margin: 50px 0px;
}

.resume-rightside-content {
    text-align: center;
    letter-spacing: 2px;
    height: 50vh;
    overflow-y: scroll;

}

.resume-rightside-content h3 {
    font-size: 25px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 25px;
    margin-bottom: 10px;
}

.resume-rightside-content h5 {
    font-size: 20px;
    margin-bottom: 20px;
}

#workhistory {
    margin-bottom: 15px;
}

.history-items {
    border-left: 5px solid black;
}

.workhistory-item {
    margin-bottom: 20px;
    position: relative;
}

.workhistory-item h4 {
    font-size: 20px;
    letter-spacing: 4px;

}

.workhistory-item:before {
    content: attr(date-history);
    position: absolute;
    display: block;
    left: 16px;
    top: 16px;
    padding: 0;
    margin: 0;
}

.workhistory-item:after {
    width: 20px;
    height: 20px;
    display: block;
    left: -27px;
    top: 18px;
    position: absolute;
    border-radius: 5px;
    content: '';
    background-color: #000000;
}

#education {
    margin-bottom: 15px;
}

.education-items {
    border-right: 5px solid black;
}

.education-item {
    margin-bottom: 20px;
    position: relative;

}

.education-item h4 {
    font-size: 20px;
    letter-spacing: 4px;
}

.education-item:before {
    content: attr(date-education);
    position: absolute;
    display: block;
    right: 16px;
    top: 16px;
    padding: 0;
    margin: 0;
}

.education-item:after {
    width: 20px;
    height: 20px;
    display: block;
    right: -27px;
    top: 18px;
    position: absolute;
    border-radius: 5px;
    content: '';
    background-color: #000000;
}



/****************************************resume.html Start*/

/****************************************Main Content Section End*/

/****************************************Footer Section Start*/

.footer-container {
    background-color: #888888;
    text-align: center;
    letter-spacing: 1px;

}

.email_project_link,
.social_links,
.download_cv_link {

    padding-top: 15px;
    padding-bottom: 10px;
}

.foot-email,
.foot-projects,
.foot-fb,
.foot-twitter,
.foot-linkedin,
.foot-github,
.foot-cv-dl {
    color: #000000;
}

.back-to-top {
    color: #000000;
    display: none;
}

#social_footer_head,
#dlcv_footer_head {
    margin: 0;
}

#social_icons,
#dl_icon {
    font-size: 40px;

}

.foot-email:hover,
.foot-projects:hover,
.foot-fb:hover,
.foot-twitter:hover,
.foot-linkedin:hover,
.foot-github:hover,
.foot-cv-dl:hover,
.back-to-top:hover {
    color: #ffffff;
    text-shadow: -1px -1px 25px #000000;
}



/****************************************Footer Section End*/

/****************************************Media Queries Start*/
/****************************************Laptop*/
@media (max-width: 1024px) {
    #head-fname {
        margin-top: 30px;
        font-size: 70px;
        margin-left: 10px;
        margin-bottom: 35px;
    }

    #head-title {
        font-size: 40px;
        margin-left: 10px;
        margin-bottom: 35px;
    }

    #head-status {
        font-size: 20px;
        margin-left: 10px;
        margin-bottom: 35px;
    }

    #head-cv {
        font-size: 18px;
        margin-left: 10px;
        margin-bottom: 35px;
    }

    .nav_bar_con h3 {
        font-size: 15px;
    }

    .main-con-head {
        border: 10px solid white;
    }

    .resume-leftside-content h3 {
        font-size: 20px;
    }

    .workhistory-item {
        font-size: 12px;
        padding-left: 75px;
    }

    .education-item {
        font-size: 12px;
        padding-right: 25px;
    }

    #email_footer_head,
    #email_address_head,
    #project_footer_head,
    #social_footer_head,
    #dlcv_footer_head {
        font-size: 18px;
    }

    #social_icons,
    #dl_icon {
        font-size: 25px;
    }

    .social_links,
    .download_cv_link {
        padding-top: 25px;
    }

}

/****************************************Smaller Laptop*/
@media (max-width: 991px) {

    .headings {
        text-align: center;
    }

    #head-fname {
        border-left: none;
        margin-left: 0;
        font-size: 60px
    }

    #head-title {
        border-left: none;
        margin-left: 0;
        font-size: 35px
    }

    #head-status {
        border-left: none;
        margin-left: 0;
        font-size: 25px
    }

    #head-cv {
        border-left: none;
        margin-left: 0;
        font-size: 17px
    }

    .empty-nav-space {
        display: none;
    }

    .home-link {
        border-left: none;
    }

    .contact-link {
        border-right: none;
    }
}

/****************************************Tablet*/
@media (max-width: 768px) {

    #head-fname {
        margin-top: 20px;
        font-size: 60px;
        margin-left: 0px;
        padding-left: 0px;
        margin-bottom: 35px;
        border-left: none;
        text-align: center;
    }

    #head-title {
        font-size: 35px;
        margin-left: 0px;
        padding-left: 0px;
        margin-bottom: 35px;
        border-left: none;
        text-align: center;
    }

    #head-status {
        font-size: 25px;
        margin-left: 0px;
        padding-left: 0px;
        margin-bottom: 35px;
        border-left: none;
        text-align: center;
    }

    #head-cv {
        font-size: 15px;
        margin-left: 0px;
        padding-left: 0px;
        margin-bottom: 35px;
        border-left: none;
        text-align: center;
    }

    .empty-nav-space {
        display: none;
    }

    .home-link {
        border-left: none;
    }

    .contact-link {
        border-right: none;
    }

    .nav_bar_con h3 {
        font-size: 15px;
    }

    .top-row,
    .bottom-row {
        margin-left: 0;
    }

    .main-con-head {
        border: 5px solid white;
    }

    .resume-leftside-content h3 {
        font-size: 20px;
    }

    .resume-rightside-content h3 {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .workhistory-item:before {
        position: initial;
    }

    .education-item:before {
        position: initial;
    }

    #email_footer_head,
    #email_address_head,
    #project_footer_head,
    #social_footer_head,
    #dlcv_footer_head {
        font-size: 16px;
    }

    #social_icons,
    #dl_icon {
        font-size: 25px;
    }

    .social_links,
    .download_cv_link {
        padding-top: 25px;
    }

}

/****************************************Smartphone*/
@media (max-width: 425px) {

    .main_headings_con {
        border-left: none;
    }

    .home-link,
    .resume-link,
    .project-link,
    .contact-link {
        border-left: none;
    }

    .contact-link {
        border-right: none;
    }

    #head-fname {
        margin-top: 20px;
        font-size: 40px;
        margin-left: 0px;
        padding-left: 0px;
        margin-bottom: 35px;
        border-left: none;
        text-align: center;

    }

    #head-title {
        font-size: 25px;
        margin-left: 0px;
        padding-left: 0px;
        margin-bottom: 35px;
        border-left: none;
        text-align: center;
    }

    #head-status {
        font-size: 22px;
        margin-left: 0px;
        padding-left: 0px;
        margin-bottom: 35px;
        border-left: none;
        text-align: center;
    }

    #head-cv {
        font-size: 15px;
        margin-left: 0px;
        padding-left: 0px;
        border-left: none;
        text-align: center;
    }

    .empty-nav-space {
        display: none;
    }

    .nav_bar_con h3 {
        font-size: 18px;
    }

    .empty-nav-space,
    .home-link,
    .resume-link,
    .project-link,
    .contact-link {
        border-bottom: 2px solid #fff;
    }

    .top-row,
    .bottom-row {
        margin-left: 0;
    }

    .main-con-head {
        border: 5px solid white;
    }

    .empty-content-space {
        display: none;
    }

    .empty-col-history {
        display: none;
    }

    .resume-leftside-content {
        display: none;
    }

    .resume-rightside-content h3 {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .workhistory-item:before {
        position: initial;
    }

    .education-item:before {
        position: initial;
    }

    #social_icons,
    #dl_icon {
        font-size: 25px;
    }

    .email_project_link,
    .social_links,
    .download_cv_link {
        padding-top: 10px;
    }

    .back-to-top {
        display: initial;
    }
}

/****************************************Media Quries End*/
