@import url('https://fonts.googleapis.com/css?family=Exo+2:100,200,300,400,500,600,700|Montserrat:100,200,300,400,500,600,700');

body {
    font-family: "Exo 2", sans-serif;
    color: #000000;
    margin: 0;
    padding: 0;
    border: 0;
}

.row {
    margin-right: 0px;
    margin-left: 0px;
}

a {
    color: #000000;
}

/***Header***/
.profile_pic {
    background-color: #a9a9a9;
    width: 100%;
    height: 100%;
    filter: grayscale(50%);
    padding: 0px;
    object-fit: cover;
}

.profile_link {
    padding: 0;
}

.main_headings_con {
    background-color: #a9a9a9;
    border-left: 2px solid #ffffff;
    padding: 0px
}

.main_headings {
    height: 100%;
}

.headings {
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 5px;
    padding: 0;
}

#head-fname {
    margin-top: 50px;
    font-size: 80px;
    text-decoration-line: underline;
    text-shadow: -1px -1px 25px #ffffff;
    color: #000000;
    margin-left: 20px;
    margin-bottom: 40px;
    border-left: 10px solid #000000;
    padding-left: 10px;
}

#head-title {
    font-size: 45px;
    text-decoration-line: underline;
    text-shadow: -1px -1px 25px #ffffff;
    color: #000000;
    margin-left: 20px;
    margin-bottom: 40px;
    border-left: 10px solid #000000;
    padding-left: 10px;
}

#head-status {
    font-size: 22.5px;
    text-decoration-line: underline;
    text-shadow: -1px -1px 25px #ffffff;
    color: #000000;
    margin-left: 20px;
    margin-bottom: 40px;
    border-left: 10px solid #000000;
    padding-left: 10px;
}

#head-cv {
    font-size: 18px;
    text-decoration-line: underline;
    text-shadow: -1px -1px 25px #ffffff;
    color: #000000;
    margin-left: 20px;
    border-left: 10px solid #000000;
    padding-left: 10px;
    margin-bottom: 50px
}

#head-cv:hover {
    color: #ffffff;
    border-left-color: #ffffff;
    text-shadow: -1px -1px 25px #000000;
}

/***Navigation***/
.nav_bar_con h3 {
    margin: 0;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 4px;
    text-align: center;
}

.empty-nav-space {
    background-color: #d3d3d3;
}

.home-link,
.resume-link,
.project-link,
.contact-link {
    border-left: 2px solid #ffffff;
    background-color: #d3d3d3;
    padding: 10px 0px;
    text-align: center;
}

.contact-link {
    border-right: 2px solid #ffffff;
    background-color: #d3d3d3;
    padding: 10px 0px;
    text-align: center;
}

.nav_bar_con a {
    color: #000000;
    text-decoration: none;
}

.nav_bar_con a:hover {
    color: #ffffff;
}

.current_page {
    border-bottom: 2px solid #000000;
}

/***Sweep To Right Hover***/
/*I took this fragment of css from hover.css to change the background color from is default color*/
.hvr-sweep-to-right:before {
    background: rgba(0, 0, 0, .5);
}

/***Main Content***/

/***index.html***/
.top-row,
.bottom-row {
    padding: 0;
    margin: 0;
}

.top-row h3,
.bottom-row h3 {
    text-transform: uppercase;
    letter-spacing: 4px;
    text-align: center;
    font-weight: 700;
}

.top-row p,
.bottom-row p {
    letter-spacing: 1px;
    text-align: center;
    font-size: 20px;
}

.main-con-head {
    width: 100%;
    padding: 15px;
    border: 20px solid #ffffff;
    background-color: #d3d3d3;
}

.main-con-head h5 {
    padding-bottom: 10px;
}

.main-con-head a {
    text-decoration: none;
}

.readmore-btn {
    display: block;
    margin: 0 auto;
    text-transform: uppercase;
    background-color: #d3d3d3;
    color: #000000;
    letter-spacing: 3px;
    font-weight: 900;
}

.readmore-btn:hover {
    background-color: #a9a9a9;
}

/***my_resume.html***/
.resume-leftside-content {
    background-color: #d3d3d3;
    text-align: center;
    letter-spacing: 2px;
    border-top: 2px solid #ffffff;
    border-bottom: 2px solid #ffffff;
}

.resume-leftside-content h3 {
    font-size: 25px;
    text-transform: uppercase;
    margin: 50px 0px;
}

.resume-leftside-content a {
    color: #000000;
    text-decoration: none;
}

.resume-leftside-content a:hover {
    color: #ffffff;
}

.resume-rightside-content {
    text-align: center;
    letter-spacing: 2px;
    overflow: auto;
    max-height: 50vh;
}

.resume-rightside-content p {
    font-size: 20px;
}

.resume-rightside-content h3 {
    font-size: 25px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 30px;
    margin-bottom: 10px;
}

.resume-rightside-content h5 {
    font-size: 20px;
    margin-bottom: 20px;
}

.aboutme_section,
.skills_section,
.hobbies_interests_section {
    margin-left: auto;
    margin-right: auto;
}

#workhistory {
    margin-bottom: 15px;
}

.workhistory-borderline {
    border-left: 5px solid #000000;
}

.workhistory-timeline {
    margin-bottom: 20px;
    position: relative;
    font-weight: 900;
}

.workhistory-timeline h4 {
    font-size: 20px;
    letter-spacing: 4px;
}

.workhistory-timeline:before {
    content: attr(data-datehistory);
    position: absolute;
    display: block;
    left: 16px;
    top: 16px;
    padding: 0;
    margin: 0;
}

.workhistory-timeline:after {
    width: 20px;
    height: 20px;
    display: block;
    left: -27px;
    top: 18px;
    position: absolute;
    border-radius: 5px;
    content: '';
    background-color: #000000;
}

#education {
    margin-bottom: 15px;
}

.education-borderline {
    border-right: 5px solid #000000;
}

.education-timeline {
    margin-bottom: 20px;
    position: relative;
    font-weight: 900;
}

.education-timeline h4 {
    font-size: 20px;
    letter-spacing: 4px;
}

.education-timeline:before {
    content: attr(data-dateeducation);
    position: absolute;
    display: block;
    right: 16px;
    top: 16px;
    padding: 0;
    margin: 0;
}

.education-timeline:after {
    width: 20px;
    height: 20px;
    display: block;
    right: -27px;
    top: 18px;
    position: absolute;
    border-radius: 5px;
    content: '';
    background-color: #000000;
}

.progress {
    height: 30px;
}

.html5-progress {
    background-color: #800000;
    font-size: 15px;
}

.css3-progress {
    background-color: #006400;
    font-size: 15px;
}

.javascript-progress {
    background-color: #a9a9a9;
    font-size: 15px;
}

.php-progress {
    background-color: #000080;
    font-size: 15px;
}

.sql-progress {
    background-color: #000000;
    font-size: 15px;
}

/***my_project.html***/
.project_content {
    margin: 20px;
}

.project_content h2 {
    margin-bottom: 5px;
    text-transform: uppercase;
    text-decoration: underline;
    letter-spacing: 5px;
    padding-top: 40px;
}

.project_content p {
    font-size: 18px;
    letter-spacing: 1px;
    margin-top: 10px;
}

.love-running-info {
    padding: 15px;
}

.love-running-links {
    padding: 15px;
}

.love-running-info a,
.stream-info a,
.whiskey-info a,
.rosie-info a,
.myproject-info a {
    color: #000000;
}

.love-running-info a:hover,
.stream-info a:hover,
.whiskey-info a:hover,
.rosie-info a:hover,
.myproject-info a:hover {
    color: #ffffff;
}

.stream-info,
.whiskey-info,
.rosie-info,
.myproject-info {
    margin-top: 15px;
    padding: 15px;
}

.stream-links,
.whiskey-links,
.rosie-links,
.myproject-links {
    margin-top: 15px;
    padding: 15px;
}

.site-thumbs {
    width: 100%;
    border: 2px solid #000000;
}

.site-thumbs:hover {
    border: 2px solid #ffffff;
}

.visit-site-btn {
    text-transform: uppercase;
    background-color: #ffffff;
    color: #000000;
    letter-spacing: 3px;
    font-weight: 900;
    margin-top: 10px;

}

.visit-site-btn:hover {
    background-color: #a9a9a9;
}

/***contact_me.html***/
.contact_content h3 {
    text-align: center;
    margin-top: 25px;
    font-size: 20px;
    letter-spacing: 5px;
    text-transform: uppercase;
    padding: 25px 0px;
}

.contact_form {
    margin: 25px;
}

#fullname,
#mobile,
#email,
#subject,
#message {
    border: 2px solid #a9a9a9;
    width: 75%;
    display: block;
    margin: 15px auto;
    border-radius: 5px;
    font-size: 20px;
}

.send-btn {
    width: 150px;
    text-transform: uppercase;
    font-size: 22px;
    background-color: #d3d3d3;
    border: 1px solid #000000;
    color: #000000;
    letter-spacing: 4px;
    display: block;
    margin: 15px auto;
}

.send-btn:hover {
    color: #ffffff;
    background-color: #d3d3d3;

}

/***message_501.html***/
.message_content {
    margin-top: 15px;
}

.message_content h1,
.message_content h2,
.message_content h3,
.message_content h5 {
    text-align: center;
    margin-top: 25px;
    letter-spacing: 5px;
    text-transform: uppercase;
}

#email-message {
    text-transform: lowercase;
}

.construction-icon {
    font-size: 200px;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
}

.email-icon {
    font-size: 100px;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
}

.home-btn {
    width: 175px;
    text-transform: uppercase;
    font-size: 22px;
    background-color: #d3d3d3;
    border: 1px solid #000000;
    color: #000000;
    text-align: center;
    letter-spacing: 4px;
    display: block;
    margin: 15px auto;
}

.home-btn:hover {
    color: #ffffff;
    background-color: #d3d3d3;

}

/***Footer***/
.footer-container {
    background-color: #a9a9a9;
    text-align: center;
    letter-spacing: 1px;
}

.email_project_link,
.social_links,
.download_cv_link {
    padding-top: 15px;
    padding-bottom: 10px;
}

.foot-email,
.foot-projects,
.foot-fb,
.foot-twitter,
.foot-linkedin,
.foot-github,
.foot-cv-dl {
    color: #000000;
}

.back-to-top {
    color: #000000;
    display: none;
}

#social_footer_head,
#dlcv_footer_head {
    margin: 0;
}

#social_icons,
#dl_icon {
    font-size: 40px;
}

.foot-email:hover,
.foot-projects:hover,
.foot-fb:hover,
.foot-twitter:hover,
.foot-linkedin:hover,
.foot-github:hover,
.foot-cv-dl:hover,
.back-to-top:hover {
    color: #ffffff;
    text-decoration: none;
}
