/***Media Queries***/

/***Larger Laptops 1440px***/
@media (max-width: 1440px) {

    /***index.html***/
    .top-row p,
    .bottom-row p {
        font-size: 16px;
    }

    /***my_resume.html***/
    .resume-rightside-content {
        max-height: 30vmax;
    }

    /***my_projects.html***/
    .project_content h2 {
        margin-bottom: 5px;
        padding-top: 10px;
        font-size: 26px;
    }

    .project_content p {
        font-size: 17px;
    }

    .visit-site-btn {
        margin-top: 0px;
    }

    /***contact_me.html***/
    .contact_content h3 {
        text-align: center;
        margin-top: 15px;
        font-size: 20px;
        padding: 5px;
    }

    .contact_form {
        margin: 0 auto;
    }

    #fullname,
    #mobile,
    #email,
    #subject,
    #message {
        width: 100%;
        font-size: 20px;
    }

    .send-btn {
        width: 150px;
        font-size: 20px;
    }
}

/***Laptops 1024px***/
@media (max-width: 1024px) {

    /***Heading***/
    #head-fname {
        margin-top: 30px;
        font-size: 70px;
        margin-left: 10px;
        margin-bottom: 35px;
    }

    #head-title {
        font-size: 40px;
        margin-left: 10px;
        margin-bottom: 35px;
    }

    #head-status {
        font-size: 20px;
        margin-left: 10px;
        margin-bottom: 35px;
    }

    #head-cv {
        font-size: 18px;
        margin-left: 10px;
        margin-bottom: 35px;
    }

    /***Navigation***/
    .nav_bar_con h3 {
        font-size: 15px;
    }

    /***index.html***/
    .main-con-head {
        border: 10px solid white;
    }

    .top-row p,
    .bottom-row p {
        font-size: 14px;
    }

    /***my_resume.html***/
    .resume-leftside-content h3 {
        font-size: 20px;
    }

    .workhistory-timeline {
        font-size: 12px;
        padding-left: 75px;
    }

    .education-timeline {
        font-size: 12px;
        padding-right: 25px;
    }

    .aboutme_section h5 {
        font-size: 18px;
    }

    .resume-rightside-content {
        max-height: 42vmax;
    }

    .resume-rightside-content p {
        font-size: 18px;
    }

    /***my_projects.html***/
    .project_content h2 {
        padding-top: 0;
        font-size: 25px;
    }

    .project_content p {
        font-size: 17px;
    }

    .visit-site-btn {
        margin-top: 0px;
    }

    /***contact_me.html***/
    .contact_content h3 {
        text-align: center;
        margin-top: 15px;
        font-size: 20px;
        padding: 5px;
    }

    .contact_form {
        margin: 0 auto;
    }

    #fullname,
    #mobile,
    #email,
    #subject,
    #message {
        width: 80%;
        font-size: 20px;
    }

    .send-btn {
        width: 150px;
        font-size: 20px;
    }

    /***Footer***/
    #email_footer_head,
    #email_address_head,
    #project_footer_head,
    #social_footer_head,
    #dlcv_footer_head {
        font-size: 18px;
    }

    #social_icons,
    #dl_icon {
        font-size: 25px;
    }

    .social_links,
    .download_cv_link {
        padding-top: 25px;
    }
}

/***Small Laptops 991px***/
@media (max-width: 991px) {

    /***Heading***/
    .headings {
        text-align: center;
    }

    #head-fname {
        border-left: none;
        margin-left: 0;
        font-size: 60px
    }

    #head-title {
        border-left: none;
        margin-left: 0;
        font-size: 35px
    }

    #head-status {
        border-left: none;
        margin-left: 0;
        font-size: 25px
    }

    #head-cv {
        border-left: none;
        margin-left: 0;
        font-size: 17px
    }

    /***Navigation***/
    .home-link {
        border-left: none;
    }

    .contact-link {
        border-right: none;
    }

    /***my_resume.html***/
    .resume-leftside-content h3 {
        font-size: 20px;
    }

    .resume-rightside-content h3 {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .aboutme_section h5 {
        font-size: 16px;
    }

    .resume-rightside-content p {
        font-size: 18px;
    }

    .workhistory-timeline:before,
    .education-timeline:before {
        position: initial;
    }

    .workhistory-timeline:after {
        left: 103px;
    }

    .education-timeline:after {
        right: 58px;
    }

    .workhistory-timeline {
        margin-left: -130px;
    }

    .education-timeline {
        margin-right: -85px;
    }

    .workhistory-timeline,
    .education-timeline {
        font-size: 15px;
        font-weight: 900;
    }

    .w10 h5,
    .off365 h5,
    .mac h5 {
        font-size: 18px;
    }

    /***my_projects.html***/
    .project_content h2 {
        text-align: center;
        padding-top: 0;
    }

    .project_content p {
        font-size: 18px;
        text-align: center;
        padding-top: 10px;
    }

    .love-running-info,
    .stream-info,
    .whiskey-info,
    .rosie-info,
    .myproject-info {
        padding-bottom: 0;
        border-right: none;
    }

    .stream-links,
    .whiskey-links,
    .rosie-links,
    .myproject-links {
        margin-top: 0px;

    }

    .site-thumbs {
        display: block;
        margin: 0 auto;
        width: 50%;
    }

    .visit-site-btn {
        display: block;
        margin: 0 auto;
        margin-top: 10px;
    }
}

/***Tablet 768px***/
@media (max-width: 768px) {

    /***Heading***/
    #head-fname {
        margin-top: 20px;
        font-size: 60px;
        margin-left: 0px;
        padding-left: 0px;
        margin-bottom: 35px;
        border-left: none;
        text-align: center;
    }

    #head-title {
        font-size: 35px;
        margin-left: 0px;
        padding-left: 0px;
        margin-bottom: 35px;
        border-left: none;
        text-align: center;
    }

    #head-status {
        font-size: 25px;
        margin-left: 0px;
        padding-left: 0px;
        margin-bottom: 35px;
        border-left: none;
        text-align: center;
    }

    #head-cv {
        font-size: 15px;
        margin-left: 0px;
        padding-left: 0px;
        margin-bottom: 35px;
        border-left: none;
        text-align: center;
    }

    /***Navigation***/
    .home-link {
        border-left: none;
    }

    .contact-link {
        border-right: none;
    }

    .nav_bar_con h3 {
        font-size: 15px;
    }

    /***Main Content***/

    /***index.html***/
    .top-row,
    .bottom-row {
        margin-left: 0;
    }

    .top-row p,
    .bottom-row p {
        font-size: 16px;
    }

    .main-con-head {
        border: 5px solid white;
    }

    /***my_resume.html***/
    .resume-leftside-content h3 {
        font-size: 20px;
    }

    .resume-rightside-content h3 {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .resume-rightside-content {
        max-height: 50vmax;
    }

    .resume-rightside-content p {
        font-size: 16px;
    }

    .workhistory-timeline:before,
    .education-timeline:before {
        position: initial;
    }

    .workhistory-timeline {
        margin-bottom: 25px;
    }

    .education-timeline {
        margin-right: -65px;
        margin-bottom: 25px;
    }

    .education-timeline:after {
        right: 38px;
    }

    /***my_project.html***/
    .project_content h2 {
        text-align: center;
        padding-top: 0px;
    }

    .project_content p {
        font-size: 18px;
        text-align: center;
    }

    .love-running-info,
    .stream-info,
    .whiskey-info,
    .rosie-info,
    .myproject-info {
        padding-bottom: 0;
        border-right: none;
    }

    .stream-links,
    .whiskey-links,
    .rosie-links,
    .myproject-links {
        margin-top: 0px;

    }

    .site-thumbs {
        width: 75%;
        display: block;
        margin: 0 auto;
    }

    .visit-site-btn {
        display: block;
        margin: 0 auto;
        margin-top: 10px;
    }

    /***contact_me.html***/
    .contact_content h3 {
        text-align: center;
        margin-top: 15px;
        font-size: 20px;
        padding: 5px;
    }

    .contact_form {
        margin: 0 auto;
    }

    #fullname,
    #mobile,
    #email,
    #subject,
    #message {
        width: 85%;
        font-size: 20px;
    }

    .send-btn {
        width: 150px;
        font-size: 20px;
    }

    /***Footer***/
    #email_footer_head,
    #email_address_head,
    #project_footer_head,
    #social_footer_head,
    #dlcv_footer_head {
        font-size: 16px;
    }

    #social_icons,
    #dl_icon {
        font-size: 25px;
    }

    .social_links,
    .download_cv_link {
        padding-top: 25px;
    }
}

/***Smartphone 425px***/
@media (max-width: 425px) {

    /***Header***/
    .main_headings_con {
        border-left: none;
    }

    #head-fname {
        margin-top: 20px;
        font-size: 40px;
        margin-left: 0px;
        padding-left: 0px;
        margin-bottom: 35px;
        border-left: none;
        text-align: center;
    }

    #head-title {
        font-size: 25px;
        margin-left: 0px;
        padding-left: 0px;
        margin-bottom: 35px;
        border-left: none;
        text-align: center;
    }

    #head-status {
        font-size: 22px;
        margin-left: 0px;
        padding-left: 0px;
        margin-bottom: 35px;
        border-left: none;
        text-align: center;
    }

    #head-cv {
        font-size: 15px;
        margin-left: 0px;
        padding-left: 0px;
        border-left: none;
        text-align: center;
    }

    /***Navigation***/
    .nav_bar_con h3 {
        font-size: 18px;
    }

    .home-link,
    .resume-link,
    .project-link,
    .contact-link {
        border-left: none;
    }

    .contact-link {
        border-right: none;
    }

    .home-link,
    .resume-link,
    .project-link,
    .contact-link {
        border-bottom: 2px solid #fff;
    }

    /***Main Content***/

    /***index.html***/
    .top-row,
    .bottom-row {
        margin-left: 0;
    }

    .main-con-head {
        border: 5px solid white;
    }

    /***my_resume.html*/
    .resume-leftside-content {
        display: none;
    }

    .resume-rightside-content {
        overflow: initial;
        max-height: none;
    }

    .resume-rightside-content h3 {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .resume-rightside-content p {
        font-size: 16px;
    }

    .workhistory-timeline:before,
    .education-timeline:before {
        position: initial;
    }

    .workhistory-timeline {
        margin-left: -75px;
        margin-bottom: 25px;
    }

    .education-timeline {
        margin-right: -25px;
        margin-bottom: 25px;
    }

    .workhistory-timeline:after {
        left: 48px;
    }

    .education-timeline:after {
        right: -2px;
    }

    .html5-progress,
    .css3-progress,
    .javascript-progress,
    .php-progress,
    .sql-progress {
        font-size: 15px;
    }

    /***my_projects.html***/
    .project_content {
        margin: 5px;
        margin-top: 0px;
    }

    .project_content h2 {
        text-align: center;
        padding-top: 0px;
    }

    .project_content p {
        font-size: 18px;
        text-align: center;
    }

    .love-running-info,
    .stream-info,
    .whiskey-info,
    .rosie-info,
    .myproject-info {
        margin-top: 5px;
        padding-bottom: 0;
        border-right: none;
    }

    .stream-links,
    .whiskey-links,
    .rosie-links,
    .myproject-links {
        margin-top: 0px;
    }

    /***contact_me.html***/
    .contact_content h3 {
        text-align: center;
        margin-top: 15px;
        font-size: 20px;
        padding: 5px;
    }

    .contact_form {
        margin: 0 auto;
    }

    #fullname,
    #mobile,
    #email,
    #subject,
    #message {
        width: 100%;
        font-size: 20px;
    }

    .send-btn {
        width: 150px;
        font-size: 20px;
    }

    /***Footer***/
    #social_icons,
    #dl_icon {
        font-size: 25px;
    }

    .email_project_link,
    .social_links,
    .download_cv_link {
        padding-top: 10px;
    }

    .back-to-top {
        display: initial;
    }

    /***message_501.html***/
    .message_content h1 {
        font-size: 31px;
    }

    .message_content h2 {
        font-size: 29px;
    }

    #email-message {
        font-size: 24px;
    }

}
